
h1{
	font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

h2 {
	font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

h3 {
	font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.aaa {
	background-color: red;
}


textarea {
	resize: none;
}

div#map_container {
	width: 100%;
	height: 350px;
}"src/main/webapp/css/main.css"
